#administration, #add-article {
    background-color: #adbac1;
}

#administration h2 {
    color: #2b2b2b;
}

#administration a {
    text-decoration: none;
    color: darkslategrey;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat scroll center;
    position: relative;
    background-size: cover;
}
#administration-header {
    background-color: #343A40;
    height: 70px;
}
#home-header {
    background-image: url('img/home-bg.jpg');
    height: 800px;
}

#single-header {
    background-image: url('img/reading.jpg');
    height: 600px;
}

#profile-header {
    background-image: url('img/profile.jpg');
    height: 700px;
}
.pseudo {
    font-weight: bold;
}

/*cadre header*/
header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

/* title*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}


header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}
/*texte*/
p {
    line-height: 1.5;
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
    color: #212529;
    transition: all 0.2s;
}

/*menu*/
#mainNav a{
    color: white;
}

#mainNav{
    position: absolute;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#menu{
    display: flex;
    flex-direction: row;
}
.nav-item {
    padding: 10px;
}

/*header*/
header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 480px) {
    #menu{
        flex-direction: column;
    }
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}
/*accueil*/
.article-list {
    border-radius: 10px;
    border: 2px grey solid;
    padding: 20px;
    margin: 20px;
}
/*comment*/
.flag .unflag .delete {
    width: 16px;
    height: 16px;
}

.comment {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
}
#form-comment {
    text-align: center;
}
#content-comment, #form-comment #pseudo {
    border-radius: 10px;
    width: 50%;
}
.comment-title {
    color: grey;
    text-align: center;
    padding-top: 40px;
}
.title-article {
    width: 400px;
}
/*form article*/
#content {
    height: 700px;
}
.form-article {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.form-article button {
    width: 200px;
}
.floating-label-form-group {
    font-size: 240px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}
.back-home {
    background-color: #007BFF;
    color: white;
    width: 200px;
    padding: 6px 12px;
    margin: 7px;
    text-align: center;
    border-radius: 3px;
}
/*footer*/
footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
/*boutons*/
.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    margin: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
    background-color: #0085A1;
    border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.button-profile, .button-admin {
    justify-content: space-around;
    display: flex;
}

.button-profile a {
    width: 30%;
}
.button-article {
    text-align: center;
}
.button-admin {
    margin-top: 100px;
}

.button-admin a {
    width: 23%;
}

/*profile*/
.title-profile {
    text-align: center;
    margin-bottom: 50px;
}
/*form account*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.session-message {
    text-align: center;
    font-style: italic;
}
