{% extends 'base.html.twig' %}
{% block title %}
 nouvel article
{% endblock %}
{% block body %}
    <div>


        <form method="post" action="../public/index.php?route=addArticle">
            {% include 'form_article.html.twig' %}


            <input type="submit" value="Envoyer" id="submit" name="submit">
        </form>
        <a href="../public/index.php">Retour à l'accueil</a>
    </div>
{% endblock %}
