{% extends 'base.html.twig' %}
{% block title %}
    nouvel article
{% endblock %}
{% block body %}
    <body id="add-article">
    <article class="form-article">
        <form method="post" action="../public/index.php?route=addArticle">
            {% include 'form_article.html.twig' %}
            <button type="submit" class="btn btn-primary" value="Envoyer" id="submit" name="submit">Envoyer</button>
        </form>
        <a href="../public/index.php" class="back-home">RETOUR A L'ACCUEIL</a>
    </article>
    </body>
{% endblock %}
