{% extends 'base.html.twig' %}
{% block title %}
    Edit article
{% endblock %}
{% block body %}
    <body id="add-article">
    <article class="form-article">
        <form method="post" action="../public/index.php?route=editArticle&articleId={{ post.get('id') }}">
            {% include 'form_article.html.twig' %}

            <button type="submit" class="btn btn-primary" value="mettre à jour" id="submit" name="submit">mettre à
                jour
            </button>
        </form>
        <a href="../public/index.php" class="back-home">RETOUR A L'ACCUEIL</a>
    </article>
    </body>
{% endblock %}
