{% if content is defined %}
    {% set content=post.get('content') %}
{% endif %}
<form method="post" id="form-comment" action="../public/index.php?route=addComment&articleId={{ article.id }}">
    <p>Pseudo :</p>
    <p class="pseudo">{{ session.get('pseudo') }}</p>
    <label for="content">Message</label><br>
    <textarea id="content-comment" name="content"></textarea><br>
    {{ errors['content'] }}
    <input type="submit" value="Ajouter" id="submit" name="submit">
</form>