{% if errors['pseudo'] is defined %}
    {% set pseudo=errors['pseudo'] %}
{% else %}
    {% set pseudo='' %}
{% endif %}

{% if errors['password'] is defined %}
    {% set password=errors['password'] %}
{% else %}
    {% set password='' %}
{% endif %}

{% extends 'base.html.twig' %}
{% block title %}
    Inscription
{% endblock %}

{% block body %}

<body class="text-center">
<form class="form-signin" method="post" action="../public/index.php?route=register">
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    <label for="pseudo" class="sr-only">Pseudo</label>
    <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Pseudo" required autofocus>
    {{ pseudo }}
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
    {{password}}
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Inscription" id="submit" name="submit">Inscription</button>
    <p><a href="../public/index.php">Retour à l'accueil</a></p>

</form>
</body>

{% endblock %}