{% extends 'base.html.twig' %}
{% block title %}
    Modifier son mot de passe
{% endblock %}
{% block body %}

    <body class="text-center">
    <form class="form-signin" method="post" action="../public/index.php?route=updatePassword">
        <h1 class="h3 mb-3 font-weight-normal">Changer le mot de passe de {{ session.get('pseudo') }} :</h1>

        <label for="password" class="sr-only">Mot de passe</label><br>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required
               autofocus>
        {{ errors.password }}
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Mettre à jour" id="submit" name="submit">
            Mettre à jour
        </button>
        <p><a href="../public/index.php">Retour à l'accueil</a></p>

    </form>
    </body>

{% endblock %}